@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
 
font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    padding: 20px 24px;
    color: #FFF;
    font-size: 1.25rem;
    border-radius: 8px;
    cursor: pointer;
background: #FF900E;
margin-bottom: 50px;
border: 0px;
}
/* header related styles */
header{
     background: rgba(255, 144, 14, 0.10);
     padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
    list-style: none;
    color: #424242;
    
} 
nav li a{
    text-decoration: none;
    margin-right: 30px;
}
/* banner related styles */
 .banner-contant{
    text-align: center;
    max-width: 0px auto;
 }
 .banner-title{
    font-size: 4rem;
    color: #131313;
 }
 .banner-description{
    color: #727272;
 }
 .banner img{ 
    width: 100%;
 } 


 /* main styles */
 main{
    max-width: 1440px;
    margin: 70px auto;
}
.team-work{
    display: flex;
    align-items: center;
}
.team-group-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-contant{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .quick-list .facts-description{
color: #727272;
font-weight: 500;
}
.team-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    margin-bottom: 30px;
}
/* some facts styles */
.card-container{
    display: flex;
    justify-content: space-around;
    
}
.card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 40px 30px;
}
.card-states{
    font-size: 2.8rem;
    color: #424242;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

/* sponspors styles */
.sponsors{
    text-align: center;
}
.sponspors-container{
    display: flex;
    justify-content: space-evenly;
}
.sponspors-title{
    color: #131313;
    font-size:2.8rem;
    font-weight: 700;
}
.sponspors-infooter{
    color: #727272;
    margin-bottom: 50px;
    margin-top: 24px;
}






 /* responsive styles */
 /* mobile devices */
 @media screen and (max-width:576px){
    header{
        padding:20px ;
    }
    nav,
    .team-work,
    .card-container ,
    .sponspors-container
    {
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }
    .team-group-pic{

        grid-template-columns: repeat(1, 1fr);
    }
 }
    
 /* medium devices */
 @media screen and (min-width:576px) and (max-width:992px) { 
    nav {
        flex-direction: column;
    }
    .header{
        padding: 50px;
    }
 }